//

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=DM+Sans&family=Signika+Negative:wght@300&display=swap');

//

$primary: #fbf8f2;
$swatch_2: #6f6f70;
$swatch_3: #9c9b9c;
$secondary: #deccae;
$text: #120f0b;
$swatch_6: #e78d26;
$swatch_7: #563b13;
$swatch_8: #9b7151;


@mixin flex($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
}


//Default styles
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cabin', sans-serif;
    color: $text;
}

p, span, label {
    font-family: 'DM Sans', sans-serif;
}

a, button , input, li{
    font-family: 'Signika Negative', sans-serif;
    cursor: pointer;
}

a,.link {
    text-decoration: none;
    color: $text;
}

ul {
    list-style: none;
}


.navbar {
    @include flex(space-between);
    background-color: $primary;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 0 4px 8px #6f6f70;
    min-height: 70px;
    padding: 25px;
    margin: 0px ;
    border-radius: 0 0 20px 20px ;
    position: fixed;
    width: 100%;
    z-index: 200;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    animation: navbar 0.7s ease forwards;
    opacity: 0;
    
        // logo //
        .logo {
            @include flex(flex-start);
            gap: 10px;
    
            p {
                font-weight: bold;
                font-size: 25px;
                color: $text;
            }
        
            .swahililogo {
                border-radius: 50%;
                
            }
            
        }

        @keyframes navbar {
            from {
                top: -20px;
                opacity: 0;
            }
            to{
                top: 0;
                opacity: 1
            }
        }


//nav Links
    .navMenu {
        @include flex(space-between);
        gap: 80px;

       
        .navItem {

            .navLink {
                font-weight: bold;
                padding: 5px 10px;
                transition: 0.2s ease;
                color: $text;
        
            }
            .navLink:hover {
                color: $swatch_6;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 5px
            }
        }

        
    }

    .hamburger {
        display: none;
        cursor: pointer;

        .bar {
            background-color: #120f0b;
            width: 20px;
            height: 3px;
            display: block;
            margin: 5px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        
    }
    
   

}


@media screen and (max-width: 800px) {
    .navbar {
        // box-shadow: none;
        padding: 10px ;
        margin: 0;
        transition: 0.5s ease-in-out;

        &.active {
            margin-bottom: 260px !important;
            background-color: $primary; 
            border-radius: 1px;
        }


        .logo {
            p {
                font-size: 19px;
            }
        }

        .hamburger {
            display: block;

            &.active {
                .bar:nth-child(2) {
                    opacity: 0;
                }
                .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
 
    .navMenu {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px !important;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 70%;
        transition: 0.7s ease-in-out;
        background-color: $primary;
        padding: 20px 0px 500px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &.active {
            left: 0;
            opacity: 1;
        }
    }
   
    .navItem {
        margin: 1px 0;
    }
    .navLink {
        padding: 0;
        margin: 0;
    }
}