
@mixin flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meals {
    @include flex();
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
}



article {
    height: 350px;
    width: 300px;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
    img {
        position: relative;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        top: -100px;
        left: 60px;
    }


    figure {
        @include flex();
        flex-direction: column;
        gap: 20px;
        margin-top: -40px;

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
        }h3 {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .buttons {
            @include flex();
            gap: 50px;
            padding: 10px;
            border-radius: 10px;

            span {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

            button {
                background-color: aliceblue;
                border: none;
                background-color: orange;
                height: 30px;
                cursor: pointer;
                width: 30px;
                border-radius: 50%;
                font-weight: bold;
            }
        }

        #addToCart {
            width: 100%;
            background-color: black;
            padding: 20px;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        #added {
            width: 100%;
            padding: 10px;
            background-color: grey;
            border-radius: 10px;
            color: #fff;
        }
    }
}

@media screen and (max-width: 800px) {
    .meals {
        flex-direction: column;
        margin: 20px 0 !important;
        padding: 0 !important;
    }
}