

//VAriables
$primary: #ffff;
$background: #EFE9E2;
$tertiary: #DB8A31;
$grey: #797979;

@mixin flex($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
}
////////////////////

//default styles
button {
    border: none;
}

//////////// 


.menu {
    padding: 20px;
    width: 100%;
    padding-top: 50px;


    ///Header
    header {
        @include flex(space-between);
        // flex-wrap: wrap;
        // gap: 50px;

        section {
            h1 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: lighter;
            }
            p {
                color: $grey
            }
        }

        form {
            @include flex(space-between);
            gap: 10px;
            background-color: #fff;
            border: 1px solid black;
            width: 25%;
            border-radius: 15px;
            button {
                border: none;
                background-color: #fff;
                display: none;
                transition: 0.3s ease;
            }
            input {
                width: 85%;
                height: 40px;
                border: none;
                padding: 0 15px;
                font-size: 20px;
                border-radius: 15px;
            }
            input:not(:placeholder-shown) + button {
                display: inline-block;
            }
            input:focus {
                outline: none;
            }
            input[type="search"]::-webkit-search-cancel-button {
                display: none;
            }
            
        }
        .cart {
            background-color: #fff;
        }
    }
    ////////////////
    /// Main ///
    main {
        margin: 50px 0 20px 0;
        padding: 40px 20px;
        .navMenu {
            @include flex(space-between);
            gap: 50px;
            background-color: $background;
            padding: 2px 20px;
            border-radius: 30px;

            li {
                @include flex(space-between);
                gap: 10px;
                background-color: $background !important;
                padding: 10px 50px;
                border-radius: 20px;
                transition: 0.3s ease;

                .btn {
                    font-weight: bold;
                    transition: 0.3s ease-in-out;
                    padding: 5px;
                    background-color: $background !important;
                    color: black;

                    &.active {
                        background-color: #fff !important;
                    }
                }
                .btn:hover {
                    color: $tertiary;
                }


                &.active {
                    background-color: lighten($color: #fff, $amount: 10%) !important;
                    border-radius: 30px;
                }
            }            
        }
    }

}
.filter {
    display: none;
}

@media screen and (max-width: 720px) {

    header {
        padding-top: 10px;
        margin-top: 10px ;
        align-items: flex-start !important;
        gap: 35px;
        flex-direction: column;

        section {
            display: none;
        }

        form {
            width: 100% !important;

            input {
                background-color: #fff !important;
            }
             .btn {
                display: none;
             }
        }
    }

    main {
        padding: 1 0px 0 !important;
        margin: 0;
        //Filter
        .filter {
            display: block;
            position: absolute;
            top: 250px;
            left: 280px;
            cursor: pointer;
            @include flex(space-between);
            gap: 10px;
        
        }

        .navMenu {
            margin: 30px 0;
            border-radius: 0 !important;
            padding: 40px 10px !important;
            display: none !important;
            transition: 0.3s ease-in-out;

            li {
                border-radius: 0 !important;
                padding: 10px !important;
                justify-content: center !important;
                gap: 1px !important;
                

                .icons {
                    display: none;
                }

                button {
                    margin: 0 !important;
                    font-size: 16px !important;
                }
            }

            &.active {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr) ;
                gap: 10px;
            }
        }
    }
}