
//
$swatch_1: #fbf8f2;
$swatch_2: #6f6f70;
$swatch_3: #9c9b9c;
$swatch_4: #deccae;
$swatch_5: #120f0b;
$swatch_6: #e78d26;
$swatch_7: #563b13;
$swatch_8: #9b7151;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;

    button {
        background-color: $swatch_1;
        border: 2px solid $swatch_6;
        color: $swatch_6;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        transition: 0.5s ease-in-out;

    }
    button:hover {
        background-color: $swatch_6;
        border-color: $swatch_6;
        color: $swatch_1;
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        
        button {
            display: none;
        }

        input {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
        }
        input:not(:placeholder-shown) + button {
            display: inline-block;
          } 
    }

    section {
        height: 60px;
        width: 60px;
        background-color: aqua;
        border-radius: 50%;
        border: 2px solid $swatch_6;
    }
}