//
$swatch_1: #fbf8f2;
$swatch_2: #6f6f70;
$swatch_3: #9c9b9c;
$swatch_4: #deccae;
$swatch_5: #120f0b;
$swatch_6: #e78d26;
$swatch_7: #563b13;
$swatch_8: #9b7151;

section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    article {
        background-color: aqua;
        height: 200px;
        padding: 10px;

        h4 {
            padding: 2px 5px;
            background-color: $swatch_4;
            width: 10%;
        }
    }
}