

.admin {
    display: grid;
    grid-template-columns: 0.23fr 0.5fr 0.8fr 0.8fr;
    grid-template-areas: 'aside main main main';
    width: 100%;
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    padding: 0;
    header {
        height: 100%;
        grid-area: aside;
        z-index: 200;
    }
    main {
        grid-area: main;
        margin: 0;
    }

}
@media screen and (max-width: 600px) {
   main {
    padding: 0 !important;
   }
}