
.aside {
    background-color: #1B1515;
    height: auto;
    width: 10%;
    height: 100vh;
    scroll-behavior: smooth;
    position: fixed;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    #Icons {
        color: #fff;
        font-size: 30px;
    }

    .logo {
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }

    nav {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }


        .btn {
            background-color: #1B1515;
            color: #fff;
            border-radius: 15px;
            padding: 10px 20px;
            border: none;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            font-size: 10px;
        }

        #accImg {
            border: none;
            display: none;
            background-color: #1B1515;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
    }

    .hamburger {
        display: none;

        position: fixed;
        cursor: pointer;
        background-color: #fff;
    
        .bar {
            background-color: #120f0b;
            width: 25px;
            height: 3px;
            display: block;
            margin: 5px;
            -webkit-transition: 0.7s ease-in-out;
            transition: 0.7s ease-in-out;
        }
    }
}


@media screen and (max-width: 600px) {
   
    .aside {
           background-color: transparent;
           height: auto;
           width: auto;
   
           hr {
            display: none;
           }
           h1 {
               display: none;
           }

           a {
            display: none;
           }
   
           nav {
               position: fixed;
               left: 1100px;
               width: 100%;
               top: -20px;
               transition: 0.7s ease-in-out;
               gap: 10px;
               padding: 50px 0 500px 0;
               background-color: #120f0b;
   
               h6 {
                   display: none;
               }
   
               #accImg  {
                display: block;
               }
               .navMenu {
                   gap: 30px;
                   text-align: center;
               }
   
               &.active {
                   left: 0;
                   margin-bottom: 500px;
               }
   
               #logout {
                   width: 100%;
                   display: flex;
                   justify-content: center;
                   background-color: #120f0b;
               }
   
           }
   
           .hamburger {
               display: block;
               position: fixed;
               right: 20px;
               z-index: 200 !important;
   
               &.active {
                   .bar:nth-child(2) {
                       opacity: 0;
                   }
                   .bar:nth-child(1) {
                       transform: translateY(8px) rotate(45deg);
                       // background-color: #fff;
                   }
                   .bar:nth-child(3) {
                       transform: translateY(-8px) rotate(-45deg);
                       // background-color: #fff;
                   }
               }
           }
       }
}

