

.aside {
    background-color: #1B1515;
    height: 100vh;
    width: 150px;
    margin:  0;
    padding: 15px;
    position: fixed;

    h1 {
        color: #fff;
        text-align: center;
        margin: 30px 0;
    }

    nav {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }


        .btn {
            background-color: #FFA500;
            color: #1B1515;
            border-radius: 15px;
            padding: 10px 20px;
            border: none;
            font-weight: bolder;
        }

        #accImg {
            border: none;
            background-color: #1B1515;
            img {
                height: 70px;
                width: 70px;
                border-radius: 50%;
            }
        }
    }

    #logout {
        background-color: #FF0000;
        padding: 10px 30px;
        color: #fff;
        border: none;
        border-radius: 15px;
        font-weight: bold;
        margin: 40px 0;
    }
}