/* 



.reservation {
    position: relative;
    opacity: 0;
    animation: form 3s ease-in-out forwards;
    transition: opacity 0.5s ease-in-out;
}


@keyframes form {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}


.featuredContent {
    position: relative;
    opacity: 0;
    animation: fcontent 2s ease forwards;
}

@keyframes fcontent {
    0% {
        opacity: 0;
        top: -20px;
        right: -300px;
    }
    100% {
        opacity: 1;
        top: 0;
        right: 0;
    }
}


.featuredImg {
    position: relative;
    opacity: 0;
    left: -100px;
    animation: fimg 2s ease forwards;
}
@keyframes fimg {
    0% {
        left: -100px;
        top: -20px;
        opacity: 0;
    }
    100% {
        left: 0;
        top: 0;
        opacity: 1;
    }
}

 .footer {
    position: relative;
    opacity: 0;
    animation: footer 3s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes footer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  */