


.background {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.15);
    position: fixed;
    height: 100vh;
    width: 90vw;
    top: 0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
}

.history {
    background-color: #fff;
    padding: 20px;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    right: -700px;
    z-index: 100;
    transition: 0.7s ease-in-out;

    &.active {
        right: 0px;
    }

    .cancel {
        display: none;
    }

    .order {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin: 20px 0;
        background-color: #f8e7d1;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;

        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 800px) {
    .background {
        width: 100%;
    }

    .history {
        position: fixed;
        right: 0px;
        flex-direction: column;
        padding-top: 50px;
        z-index: 9999 !important;

        .cancel {
            display: block;
            position: fixed;
            right: 0;
            font-size: 30px;
            background-color: #fff;

            .icon {
                font-size: 30px;
            }
        }

        .order {
            width: 100%;
            gap: 10px;
            margin-left: 10px;

            h1 {
                font-size: 15px !important;
            }
            p {
                font-size: 13px ;
            }

            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}