
.menuNavbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
        background-color: aliceblue;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: #fff;
        }
        &.active {
            background-color: rgb(252, 192, 81);
        }
    }

    .navMenu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rightNav {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 600px) {
    .menuNavbar {
        flex-direction: column;
        button {
            font-size: 14px;
        }

        .navMenu {
            display: none;
        }

        .rightNav {
            .search {
                width: 70%;
            }
            .cart {
                position: relative;
                right: 280px;
            }
        }
    }
}